.center-text
   text-align: center

.v-center-content
   display: flex
   align-items: center

.h-center-content
   display: flex
   justify-content: center

.center-content
   display: flex
   justify-content: center
   align-items: center
