.card
   display: flex
   flex-direction: column
   @extend .rounded
   box-shadow: 2px 3px 10px 0px rgba(150,150,150,0.55)
   margin: 10px

   .card-media
      position: relative
      overflow: inherit
      z-index: 1

      img
         transition: filter 110ms
         width: 100%
         filter: brightness(80%)
         border-radius: $rounded_radius $rounded_radius 0 0


      .card-title
         position: absolute
         bottom: 0
         margin: $space_box
         color: white

      &:hover
         img
            filter: brightness(100%)

   .card-content
      padding: $space_box

   .card-title
      line-height: 1.4
      font-size: @extend .title.is-5
