@require 'variables'

for name, color in $colors
   .{name}
      background-color: color
   .{name}-text
      color: color


for name, color in $shades
   .{name}
      background-color: color
   .{name}-text
      color: color
