@require 'variables'

for name, color in $colors
   .{name}
      background-color: color !important
   .{name}-text
      color: color !important


for name, color in $shades
   .{name}
      background-color: color !important
   .{name}-text
      color: color !important
