// 1. Colors
// ==================================================
$red := #e74c3c
$green := #27ae60
$blue := #3498db
$purple := #9b59b6
$orange := #fb7818
$yellow := #F7CA18
$midnight := #2c3e50


$colors := {
   red: $red,
   green: $green,
   blue: $blue,
   purple: $purple,
   orange: $orange,
   yellow: $yellow,
   midnight: $midnight
}

$shades := {
   white: #fff,
   black: #000
}


// 2. Media Queries
// ==================================================
$tablet := 'screen and (min-width: 700px)'
$desktop := 'screen and (min-width: 1024px)'
$large_desktop := 'screen and (min-width: 1440px)'


// 3. Layout
// ==================================================
$space_box := 12px 16px
