header
   nav.orange
      .nav.container
         .nav-left
            .nav-item
               img.nav-logo(src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Inkscape.logo.svg")
         .nav-right
            a.nav-item.cbutton.cbutton--effect-sanja link 1
            a.nav-item link 2
            a.nav-item link 3
